<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap5 rescap">

  <Identity Name="Velumix.Abraxius" Publisher="CN=Velumix" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="8ec610bc-01e5-49f7-aa4e-a12cedf59c37" PhonePublisherId="00000000-0000-0000-0000-000000000000" />

  <Properties>
    <DisplayName>Abraxius</DisplayName>
    <PublisherDisplayName>Velumix</PublisherDisplayName>
    <Logo>Assets\Logo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Abraxius"
        Description="Roblox Studio bridge supervisor"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Logo.png"
        Square44x44Logo="Assets\Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Logo.png" />
        <uap:SplashScreen Image="Assets\Logo.png" BackgroundColor="#20102E" />
      </uap:VisualElements>
      <Extensions>
        <uap5:Extension Category="windows.startupTask" Executable="$targetnametoken$.exe" EntryPoint="Windows.FullTrustApplication">
          <uap5:StartupTask TaskId="AbraxiusStartup" Enabled="false" DisplayName="Abraxius" />
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
